In [21]:
cd /Users/alessandropreviero/Desktop/vaccine-allocation/src

/Users/alessandropreviero/Desktop/vaccine-allocation/src

In [22]:
import pandas as pd
import numpy as np
import pickle
from models.prescriptive_delphi_model import DELPHISolution

In [23]:
solution_dir = '/Users/alessandropreviero/Desktop/vaccine-allocation/data/outputs/optimized-solution-0.pickle'

In [24]:
with open(solution_dir, 'rb') as f:
    solution = pickle.load(f)

In [25]:
optimal_locations = solution.locations
infectious = solution.infectious
hospitalized_recovering = solution.hospitalized_recovering
quarantined_recovering = solution.quarantined_recovering
undetected_recovering = solution.undetected_recovering

In [26]:
active_cases = infectious + hospitalized_recovering + quarantined_recovering + undetected_recovering
active_cases = active_cases.sum(axis=1)
active_cases_flat = active_cases.flatten('F')

In [27]:
states = pd.read_csv('/Users/alessandropreviero/Desktop/vaccine-allocation/data/inputs/county_pop_clean.csv')
states_names = states['state'].unique()
repeated_arr = np.tile(states_names, 91)

In [28]:
long_df = pd.DataFrame({'states': repeated_arr, 'active_cases':active_cases_flat})
long_df['day'] = np.repeat(np.arange(91), 51)

In [29]:
locations_df = pd.DataFrame({'state': states_names, 'num_locations': optimal_locations})

In [30]:
long_df.to_csv('optimal_active_cases_map.csv')
locations_df.to_csv('optimal_num_locations_states.csv')

In [31]:
solution.deceased[:,:,-1].sum(axis=1)

array([6.49037782e+02, 8.77673077e+01, 1.97151404e+03, 6.25656307e+02,
       2.53448197e+03, 5.67791986e+02, 8.77600246e+02, 1.17317037e+02,
       7.56382125e+01, 1.63725904e+04, 2.42261151e+03, 1.39063597e+02,
       8.32317241e+01, 4.16309151e+02, 7.72000324e+02, 2.45909030e+03,
       1.82897716e+02, 4.17764615e+02, 6.89234154e+02, 1.10593527e+02,
       9.90335248e+03, 1.37076765e+03, 1.87719014e+02, 5.62647253e+01,
       4.74540349e+02, 5.97943355e+02, 4.69483728e+01, 5.14901710e+01,
       2.70761879e+02, 1.03482099e+02, 1.74165316e+03, 2.40721815e+02,
       8.17373970e+03, 1.51560159e+03, 2.55944710e+00, 7.77885146e+02,
       7.20715599e+02, 3.45747020e+02, 8.37455380e+02, 3.57382920e+01,
       3.32939043e+03, 6.32998102e+01, 7.82029934e+02, 5.81290007e+03,
       1.10896612e+03, 1.04743466e+02, 2.66877483e+03, 7.99348346e+02,
       4.12283529e+02, 3.01816078e+02, 1.07961992e+02])

In [34]:
deaths = solution.deceased[:,:,-1].sum(axis=1)

locations_df['deaths'] = deaths

In [36]:
locations_df.sort_values('deaths', ascending=False)

   state  num_locations        deaths
9     FL           14.0  16372.590358
20    MD            1.0   9903.352478
32    NM            4.0   8173.739696
43    TX           15.0   5812.900067
40    SC            3.0   3329.390433
46    VT            1.0   2668.774826
4     CA            1.0   2534.481972
15    IN            2.0   2459.090305
10    GA            5.0   2422.611508
2     AR            4.0   1971.514036
30    NH            2.0   1741.653164
33    NV            3.0   1515.601585
21    ME            1.0   1370.767648
44    UT            2.0   1108.966124
6     CT            2.0    877.600246
38    PA            1.0    837.455380
47    WA            2.0    799.348346
42    TN            1.0    782.029934
35    OH            1.0    777.885146
14    IL            1.0    772.000324
36    OK            2.0    720.715599
18    LA            2.0    689.234154
0     AK            1.0    649.037782
3     AZ            1.0    625.656307
25    MS            1.0    597.943355
5     CO            2.0    567.791986
24    MO            1.0    474.540349
17    KY            1.0    417.764615
13    ID            1.0    416.309151
48    WI            1.0    412.283529
37    OR            1.0    345.747020
49    WV            1.0    301.816078
28    ND            1.0    270.761879
31    NJ            1.0    240.721815
22    MI            1.0    187.719014
16    KS            1.0    182.897716
11    HI            1.0    139.063597
7     DC            1.0    117.317037
19    MA            1.0    110.593527
50    WY            1.0    107.961992
45    VA            1.0    104.743466
29    NE            1.0    103.482099
1     AL            1.0     87.767308
12    IA            1.0     83.231724
8     DE            1.0     75.638212
41    SD            1.0     63.299810
23    MN            1.0     56.264725
27    NC            1.0     51.490171
26    MT            1.0     46.948373
39    RI            1.0     35.738292
34    NY            1.0      2.559447

In [19]:
deaths

{'deaths': array([6.49037782e+02, 8.77673077e+01, 1.97151404e+03, 6.25656307e+02,
        2.53448197e+03, 5.67791986e+02, 8.77600246e+02, 1.17317037e+02,
        7.56382125e+01, 1.63725904e+04, 2.42261151e+03, 1.39063597e+02,
        8.32317241e+01, 4.16309151e+02, 7.72000324e+02, 2.45909030e+03,
        1.82897716e+02, 4.17764615e+02, 6.89234154e+02, 1.10593527e+02,
        9.90335248e+03, 1.37076765e+03, 1.87719014e+02, 5.62647253e+01,
        4.74540349e+02, 5.97943355e+02, 4.69483728e+01, 5.14901710e+01,
        2.70761879e+02, 1.03482099e+02, 1.74165316e+03, 2.40721815e+02,
        8.17373970e+03, 1.51560159e+03, 2.55944710e+00, 7.77885146e+02,
        7.20715599e+02, 3.45747020e+02, 8.37455380e+02, 3.57382920e+01,
        3.32939043e+03, 6.32998102e+01, 7.82029934e+02, 5.81290007e+03,
        1.10896612e+03, 1.04743466e+02, 2.66877483e+03, 7.99348346e+02,
        4.12283529e+02, 3.01816078e+02, 1.07961992e+02])}